header {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    /* margin: 0px 180px; */
    padding: 10px 180px;
    background: #faf5fc;
    /* background: red; */
    z-index: 10;
    transition: all 0.5s;
}

.navbar a {
    text-decoration: none;
    outline: none;
    transition: all 0.5s;
}

.navbar a:hover {
    color: black;
}

.navbar ul {
    font-size: 18px;
    color: dimgray;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.logo {
    width: fit-content;
    font-size: 32px;
    font-weight: bold;
}