/* BRANDS SECTION */

#brands {
    background: linear-gradient(to bottom right, #ba73f7de 50%, #f78bac);
    height: 20vh;
    transform: translateY(-8px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#brands img {
    width: 170px;
}