/* CONTACT SECTION */

#contact {
    background: white;
    border-radius: 120px 0px 120px 0px;
    /* width: 100%; */
    height: 60vh;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 50px; */
}

#contact h2,
#contact p {
    text-align: center;
    color: white;
    max-width: 400px;
}

#contact .box {
    padding: 30px 10px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #ba73f7, #f78bac);
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact .box form {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#contact .box form input {
    width: 25vw;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px -4px dimgray;
    padding: 0px 40px;
    font-size: 18px;
}

#contact .box form button {
    height: 50px;
    outline: none;
    font-size: 16px;
    background: white;
    color: #ba73f7;
    /* background: #ba73f7; */
    border: none;
    /* border-radius: 5px; */
}