/* COURSES SECTION */

#courses {
    margin: 30px 0px 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    @media only screen and (max-width: 600px) {
        gap: 50px;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .left,
    .right {
        width: 35vw;
        height: auto;
        @media only screen and (max-width: 600px) {
            width: auto;
        }
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        .outer-box {
            padding: 10px;
            width: max-content;
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='90' ry='90' stroke='%23BA73F7FF' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
            border-radius: 20%;
            @media only screen and (max-width: 600px) {
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='65' ry='65' stroke='%23BA73F7FF' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
            }
            .inner-box {
                display: grid;
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                width: max-content;
                border-radius: 20%;
                overflow: hidden;
            }
            img {
                height: 210px;
                aspect-ratio: 1/1;
                @media only screen and (max-width: 600px) {
                    height: 150px;
                }
            }
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2 {
            margin-bottom: 20px;
            line-height: 1.2;
            @media only screen and (max-width: 600px) {
                text-align: left;
            }
        }
        h3 {
            @media only screen and (max-width: 600px) {
                font-size: 16px;
            }
        }
        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            gap: 20px;
            .icon {
                width: 50px;
                height: 50px;
                aspect-ratio: 1/1;
                background: #ba73f7;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:nth-child(odd) {
                .icon {
                    background: #f78bac;
                }
            }
        }
        p {
            font-size: 16px;
            margin-top: 5px;
            @media only screen and (max-width: 600px) {
                font-size: 12px;
            }
        }
    }
}