/* FOOTER SECTION */

#footer {
    padding: 50px 0px;
    /* height: 40vh; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    @media only screen and (max-width: 600px) {
        // justify-content: space-between;
        // justify-content: center;
        // gap: 10px;
        height: auto;
        width: auto;
        font-size: 7px;
        padding: 20px 10px;
        // margin: 15px 0px;
    }
    p {
        color: white;
        width: 200px;
        @media only screen and (max-width: 600px) {
            height: auto;
            font-size: 5px;
            width: 50px;
        }
    }
    h3 {
        margin-bottom: 10px;
        @media only screen and (max-width: 600px) {
            height: auto;
            font-size: 10px;
        }
    }
    h2 {
        @media only screen and (max-width: 600px) {
            // height: auto;
            font-size: 15px;
        }
    }
    .logo-section {
        .socials {
            display: flex;
            font-size: 26px;
            gap: 20px;
            margin-top: 10px;
            @media only screen and (max-width: 600px) {
                gap: 5px;
                // height: auto;
                font-size: 10px;
            }
        }
    }
    ul {
        li,
        a {
            margin-bottom: 10px;
            cursor: default;
            width: 50px;
        }
    }
}