/* HERO SECTION */

#hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 12vh;
    @media only screen and (max-width: 600px) {
        margin-top: 0;
        flex-direction: column;
        text-align: center;
    }
    .left {
        margin: 50px 0px 0px;
        width: 500px;
        h1 {
            color: rgb(20, 20, 20);
            margin-bottom: 40px;
            line-height: 1.1;
        }
        .action-buttons {
            margin-top: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 40px;
        }
    }
    .right {
        height: fit-content;
        padding: 0;
    }
}