#container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #faf5fc;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 22px;
}

p {
    color: dimgray;
    font-size: 16px;
}

section {
    /* height: 100vh; */
    padding: 0px 140px;
}

.gradient-btn {
    cursor: pointer;
    padding: 10px 30px;
    color: white;
    font-weight: 500;
    background: linear-gradient(to bottom right, #ba73f7, #f78bac);
    border-radius: 10px;
    transition: all 0.5s;
}

.gradient-btn:hover {
    box-shadow: 0px 0px 10px -4px dimgray;
    scale: 1.05;
}


/* HERO SECTION */

#hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 12vh;
}

#hero .left {
    margin: 50px 0px 0px;
    width: 500px;
}

#hero .left h1 {
    color: rgb(20, 20, 20);
    margin-bottom: 40px;
    line-height: 1.1;
}

#hero .left .action-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

#hero .right {
    height: fit-content;
    padding: 0;
}


/* COURSES SECTION */

#brands,
#popular-courses {
    background: linear-gradient(to bottom right, #ba73f7de 50%, #f78bac);
}

#brands {
    height: 20vh;
    transform: translateY(-8px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

#brands img {
    width: 170px;
}


/* SEARCH COURSES SECTION */

#search-courses {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0px 30px;
}

#search-courses form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#search-courses input {
    width: 40vw;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 10px -4px dimgray;
    padding: 0px 40px;
    font-size: 18px;
}

#search-courses button {
    height: 50px;
    outline: none;
    font-size: 16px;
    /* background: #ba73f7; */
    border: none;
    /* border-radius: 5px; */
}


/* COURSES SECTION */

#courses {
    margin: 20px 0px 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#courses .left,
#courses .right {
    width: 35vw;
    height: auto;
}

#courses .left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
}

#courses .left .outer-box {
    padding: 10px;
    width: max-content;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='90' ry='90' stroke='%23BA73F7FF' stroke-width='5' stroke-dasharray='15' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 20%;
}

#courses .left .outer-box .inner-box {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    width: max-content;
    border-radius: 20%;
    overflow: hidden;
}

#courses .left .outer-box img {
    height: 210px;
    aspect-ratio: 1/1;
}

#courses .right {
    /* background: #f78bac; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#courses .right h2 {
    margin-bottom: 20px;
    line-height: 1.2;
}

#color-word {
    color: #ba73f7;
}

#courses .right .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

#courses .right .row .icon {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    background: #ba73f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#courses .right .row:nth-child(odd) .icon {
    background: #f78bac;
}

#courses .right p {
    font-size: 16px;
    margin-top: 5px;
}


/* POPULAR COURSES SECTION */

#popular-courses {
    padding-top: 50px;
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* color: white; */
}

#popular-courses h2,
#popular-courses p {
    color: white;
    text-align: center;
    width: 38vw;
    margin-bottom: 10px;
}

#popular-courses .card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: fit-content;
    gap: 30px;
    margin-top: 50px;
    padding: 20px;
}

#popular-courses .card {
    background: white;
    border-radius: 30px;
    width: 320px;
    height: fit-content;
    padding: 10px 10px 20px;
    /* aspect-ratio: 3/4; */
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s;
    /* justify-content: center; */
    /* height: 540px; */
}

#popular-courses .card:hover {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    /* scale: 1.005; */
}

#popular-courses .card .thumbnail {
    width: 100%;
    aspect-ratio: 4/2.5;
    /* margin: 10px; */
    border-radius: 22px;
}

#popular-courses .card .tags {
    margin: 25px 0px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popular-courses .card .tags .category {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ba73f780;
    padding: 2px 5px;
    border-radius: 5px;
    color: #ba73f7;
}

#popular-courses .card .tags .category .text {
    color: dimgray;
    font-size: 12px;
}

#popular-courses .card .tags .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: #ba73f7;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
}

#popular-courses .card .title {
    text-align: left;
    width: 100%;
}

#popular-courses .card .title h3 {
    /* margin-left: 20px; */
    width: 60%;
    font-size: 18px;
    margin: 10px 0px;
}

#popular-courses .card .stats {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 12px;
}

#popular-courses .card .stats .class-count,
#popular-courses .card .stats .student-count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#popular-courses .card .stats .icon {
    color: #ba73f7;
}

#popular-courses .card .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.5px solid #ba73f768;
    margin-top: 10px;
    padding-top: 10px;
}

#popular-courses .card .details h3 {
    font-size: 20px;
}

#popular-courses .card .details .instructor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ba73f7;
    font-weight: bold;
}

#popular-courses .card .details .instructor img {
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}